/* --------------- wrap > header --------------- */
.wrap {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 312px;
    background: #020202;
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 160px;

    @media (max-width:1200px) {
        padding: 0 12px;
        gap: 120px;
    }

    .header {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .navbar {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #fff;

            .menu-icon, .close-icon {
                display: none;
            }

            .menu a {
                margin-left: 20px;
            }
        }
        ul{
            display: none;
            text-align: center;
            font-size: 80px;
            line-height: 1.2;
            padding: 152px 0 72px;
        }
    }

    @media (max-width:375px) {
        .header {
            gap: 40px;
        }

        .header .navbar {
            padding: 28px 0;

            .logo {
                width: 147px;
            }

            .menu{
                display: none;
            }

            .menu-icon {
                display: inline;
            }
        }
    }

    .banner {
        .slogan {
            font-size: 120px;
            line-height: 1.2;
            margin-bottom: 40px;
        }

        .btn {
            margin-bottom: 100px;
        }

        .img {
            margin-left: auto;
        }

        @media (max-width:375px) {
            .slogan {
                font-size: 48px;
                padding-right: 80px;
            }

            .btn {
                margin-bottom: 180px;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 160px;

        @media (max-width:1200px) {
            max-width: 100%;
            gap: 120px;
        }
    }
}

/* --------------- container > service --------------- */
.service .context {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 24px;

    .title {
        white-space: nowrap;
        padding-right: 254px;
    }

    .describe {
        font-size: 48px;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 80px;
    }
}

.service .card-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;

    .card {
        max-width: 32%;
        padding: 80px 40px;
        border: 1px solid #525252;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .material-icons {
        font-size: 80px;
    }
}

@media (max-width:1200px) {
    .container .service .card-group .card {
        max-width: 31.5%;
    }
}

@media (max-width:767px) {
    .container .service .context {
        flex-direction: column;

        @media (max-width:375px) {
            h3 {
                font-size: 20px;
                margin-bottom: 0;
            }
        }

        .describe {
            font-size: 32px;
            margin-bottom: 48px;
        }
    }

    .container .service .card-group {
        gap: 12px;

        .card {
            max-width: 49%;
            padding: 40px 20px;

            p {
                font-weight: 400;
            }
        }

        @media (max-width:375px) {
            .card {
                max-width: 100%;
            }
        }
    }
}

/* --------------- container > partner --------------- */
.partner {
    h3 {
        margin-bottom: 80px;
    }

    .enterprise-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .enterprise {
        display: flex;
        overflow: hidden;
        gap: 20px;
        position: relative;

        .dark-gradient {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, #000 1%, #00000000 20% 90%, #000 99%);
        }

        .img {
            height: 40px;
        }
    }

    @media (max-width:375px) {
        h3 {
            font-size: 20px;
            margin-bottom: 24px;
        }

        .enterprise-group {
            gap: 12px;
            margin-bottom: -72px; // Line98 - 手機設計稿mb48
        }
    }
}

/* --------------- container > comment --------------- */
.comment {
    display: flex;
    gap: 24px;

    .card {
        width: 416px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;

        .material-icons {
            font-size: 16px;
        }

        p {
            min-height: 215px;
            color: #f2f2f2;
        }

        .user {
            margin-top: auto;
            display: flex;
            gap: 16px;

            .name {
                margin-bottom: 4px;
            }

            .company {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .switch {
        display: none;
    }
}

@media (max-width:767px) {
    .comment {
        flex-wrap: wrap;

        .card {
            width: 100%;
            padding: 20px;

            p {
                min-height: 0;
                font-weight: 400;
            }
        }

        .hide {
            display: none;
        }

        .switch {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 0 auto;

            .material-icons {
                font-size: 12px;
            }

            .small {
                color: #525252;
            }
        }
    }
}

/* --------------- container > application --------------- */
.application {
    max-width: 1920px;
    margin: 0 -312px;
    padding: 160px 312px;
    background: #fff;
    color: #020202;
    border-radius: 160px;

    h2 {
        margin-bottom: 80px;
        text-align: center;
    }
}

.search-bar {
    width: 100%;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023web-camp/icons/search.png?raw=true);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 40px center;
    padding: 20px 76px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
    border-radius: 16px;
    border: none;
    margin-bottom: 24px;
}

.category {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .material-icons {
        font-size: 16px;
        line-height: 1.5;
        padding: 20px 40px;
        color: #020202;
        border: 1px solid #f2f2f2;
        border-radius: 16px;
    }

    ul {
        display: flex;
        gap: 8px;

        a {
            padding: 8px 16px;
            font-weight: 400;
            color: #919191;
            display: block;
            white-space: nowrap;
        }

        .active,
        a:hover {
            font-weight: 700;
            background: #f2f2f2;
            color: #020202;
            border-radius: 16px;
        }
    }

}

.product {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    .card {
        max-width: 32%;
        border: 1px solid #f2f2f2;
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        &-pic {
            overflow: hidden;

            .img {
                transition: all 0.5s linear 0s;
            }

            .img:hover {
                transform: scale(1.2);
            }
        }

        .subject,
        .belong,
        .function {
            padding: 20px 32px;
        }

        .subject {
            flex-grow: 1;

            h4 {
                margin-bottom: 12px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.5;
                color: #525252;
            }
        }

        .belong,
        .function {
            border-top: 1px solid #f2f2f2;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .name,
        .tag {
            font-weight: 400;
        }

        a {
            color: #020202;
            display: flex;
            align-items: center;
        }
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 4px;

    a {
        color: #020202;
        padding: 12px 20px;
    }

    .active,
    a:hover {
        background: #020202;
        color: #fff;
        border-radius: 16px;
    }

    .material-icons {
        padding: 12px;
    }
}

@media (max-width:1200px) {
    .application {
        min-width: 100%;
        margin: 0 -12px;
        padding: 80px 12px;
        border-radius: 20px;

        h2 {
            font-size: 32px;
            padding: 0 30px;
            margin-bottom: 32px;
        }

        .search-bar {
            margin-bottom: 16px;
        }

        .product {
            margin-bottom: 32px;
            gap: 12px;

            .card {
                min-height: 579px;
            }

            .img {
                max-width: 120%;
            }
        }

    }
}

@media (max-width:767px) {
    .category {
        width: 100%;
        margin-bottom: 48px;
        flex-wrap: wrap;

    }

    .category ul {
        margin: 16px auto 0;
        order: 2;
        overflow: hidden;
    }

    .product .card {
        max-width: 49%;
    }

    @media (max-width:375px) {
        .product .card {
            max-width: 100%;
        }
    }
}

.start {
    text-align: center;

    p {
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 40px;
        line-height: 1.2;
    }

    .btn,
    .material-icons {
        font-size: 24px;
        line-height: 1.2;
    }

}

@media (max-width:375px) {
    .start {
        margin: 40px 0;

        p {
            font-size: 32px;
            padding: 0 50px;
            margin-bottom: 32px;
        }

        .btn,
        .material-icons {
            font-size: 20px;
        }
    }

}

/* --------------- footer --------------- */
.content {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-top: 1px solid #fff;

    .direction {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.information {
    padding: 32px 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #fff;

    .copyright {
        margin-right: 100px;
    }

    .link {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .back-to-top {
        margin-left: auto;

        span {
            margin-left: 12px;
            font-size: 16px;
        }
    }
}

@media (max-width:375px) {
    .content {
        flex-direction: column-reverse;

        .logo {
            margin-bottom: 40px;
        }
    }

    .information {
        flex-wrap: wrap;
        justify-content: space-between;

        .copyright {
            margin: 0;
        }

        .link {
            order: 2;
            margin-top: 36px;
        }

        .back-to-top {
            margin-right: 12px;
        }
    }

}